---
layout: default
---
<div class="home">
  <div>
    <img src="{{site.baseurl}}/assets/images/home.png" style="width: 50%;" alt="solutions banner"/>
    <cite>"{{page.quote}}"</cite>  <!-- TODO: change the color of the quote -->
  </div>
  <br/>
  <div>
    {%- if site.posts.size > 0 -%}
      <!-- <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2> -->
      <table class="post-list-table">
        {%- for post in site.posts -%}
        {%- if post.thumbnail -%}
          <tr class="post-list-row">
            {%- assign date_format = "%b %-d, %Y" -%}
            <td class="date-cell">{{ post.date | date: date_format }}</td>
            <td class="title-cell">
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
              {{ post.summary}}
            </td>
            <td class="thumbnail-cell">
              <img src="{{site.baseurl}}/assets/images/{{post.thumbnail}}" class="post-thumbnail" alt="post thumbnail" />
            </td>
          </tr>
        {%- endif -%}
        {%- endfor -%}
      </table>
      <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    {%- endif -%}
  </div>
</div>
